:root {
    --color-background-elements-light: rgb(256, 256, 256);
    --color-background-theme-dark-hc: rgb(27, 132, 102);
    --color-background-theme-dark-lc: rgb(88, 196, 121);
    --color-background-theme-light-hc: rgb(255, 221, 15);
    --color-background-theme-light-lc: rgb(233, 174, 10);
    --color-text-dark: rgb(71, 71, 71);
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
    color: var(--color-text-dark);
}

header {
    
}


nav ul {
    margin: 0;
    display: flex;
    gap: 1rem;
}

nav li, .ratings ul {
    list-style: none;    
}

main {
    max-width: 1220px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 4rem;
}

a {
    text-decoration: none;
    color: var(--color-background-theme-dark-hc);
 }

/* Header: Logo */

.logo {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-background-theme-dark-hc);
    color: var(--color-background-theme-light-hc);
    height: 2rem;
}

/* Header: Navigation */

.top-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.breadcrumbs {
    max-width: 1220px;
    
    padding: 1rem 0;    
    margin: 2rem auto 0 auto;
    background-color: var(--color-background-theme-light-hc);    
    
}

.breadcrumbs a {
    font-weight: 500;
    color: var(--color-background-theme-dark-hc);
}

.breadcrumbs a:hover {
    font-size: 1.2rem;
}

.top-navigation a {
    display: flex;
    height: 3rem;
    align-items: center;
    padding: 0 1rem;
}
.top-navigation a:hover {
    background-color: var(--color-background-theme-dark-hc);
    color: var(--color-background-theme-light-hc);
}

/* Main */


/* Main: Article */

main article > * {
    max-width: 800px;
}

main section p {
    text-align: justify;    
}

article h2 {
    color: var(--color-background-theme-dark-hc);
    background-color: var(--color-background-theme-light-hc);
    padding: 0.5rem 1rem;
}

article ul {
    padding-left: 20px;
}

/* Main Article: Section Header */
.section-header h1 {
    font-size: 2rem;
    color: var(--color-background-theme-dark-hc);
}

.ratings {
    margin-bottom: 1rem;    
    display: flex;
}

.section-header img {
    width: 800px;
    max-height: 600px;
    object-fit: cover;
}

/* Main Article: Section Ingredients */
.section-ingredients ul li {
    padding: 0.5rem 0;    
}

/* Main Article: Section Preparation Steps */

.section-preparation-steps {

}
.section-preparation-steps ul {
    padding-left: 0;
}

.section-preparation-steps li {
    list-style: none;
    padding: 0.2rem 0;        
}


footer {    
    background-color: var(--color-background-theme-dark-hc);
    color: var(--color-background-theme-light-hc);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}